.sats {
  color: #ffffff66;
  font-size: 12px;
  top: 0px;
}

.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
}

.container {
  @media (min-width: 767.98px) {
    max-width: 100%;
  }
  @media (max-width: 767.98px) {
    padding-bottom: 100px;
  }
}

.chart {
  max-height: 400px;
  @media (max-width: 767.98px) {
    max-height: 230px;
    margin-top: -35px;
  }
}
